mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        <a href="https://github.com/anklimov/sync" target="_blank" rel="noreferrer noopener">GitHub</a>&nbsp;&middot; <a href="https://t.me/lazytube" target="_blank">Наш чат в Телеграм</a>&nbsp;&middot; <a href="/contact" target="_blank">О нас</a>&nbsp;&middot; <a href="https://github.com/calzoneman/sync/wiki" target="_blank" rel="noopener noreferrer">Wiki</a>
    include counter.js
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
